<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <body>
    <main class="page-content" aria-label="Content">
      {%- include navbar.html -%}
      <div class="wrapper">
        <div class="home">
          <div class="max-width-div">
            {%- if page.url != "/" -%}
            <div class="breadcrumb">
              <a href="/">
                <div style="display: flex;">
                  <div class="chevron-left">
                    <svg class="chevron-left-small" viewBox="0 0 24 24">
                      <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
                    </svg>
                  </div>
                  Home
                </div>
                
              </a>
            </div>
            {%- endif -%}
            {{ content }}
          </div>
      </div>
    </main>


  </body>

</html>
